<html>
<head>
<script
         src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js">
      </script>
      <link rel = "stylesheet"
         href = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<style>
       @import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic);
body {
		font-family: 'Roboto';
		background-color: #607D8B;
}

.container{
	padding:10px;
	border-radius:5px;
	box-shadow: 0 2px 3px black;
	background-color:#BDBDBD;
	width:90%;


}


header {
		position: relative;
}

.hide {
		display: none;
}

.tab-content {
		padding:25px;
}

#material-tabs {
		position: relative;
		display: block;
	  padding:0;

}

#material-tabs>a {
		position: relative;
	 display:inline-block;
		text-decoration: none;
		padding: 22px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		font-size:20;
		color: #424f5a;
		text-align: center;
		outline:;
		width:29%;
		    font-family: "Times New Roman", Times, serif;



}

#material-tabs>active {
		font-weight: 700;
		outline:none;
}

#material-tabs>not(.active):hover {
		background-color: inherit;
		color: #7c848a;
}

@media only screen and (max-width: 520px) {
		.nav-tabs#material-tabs>li>a {
				font-size: 11px;
		}
}

.yellow-bar {
		position: absolute;
		z-index: 10;
		bottom: 0;
		height: 3px;
		background: #458CFF;
		display: block;
		left: 0;
		transition: left .2s ease;
		-webkit-transition: left .2s ease;
}
#tab1-tab{
		outline:none;
}
#tab1-tab.active ~ span.yellow-bar {
		left: 0;
		width: 160px;
		font-weight: 700;
		outline:none;

}

#tab2-tab.active ~ span.yellow-bar {
		left:165px;
		width: 82px;
}

#tab3-tab.active ~ span.yellow-bar {
		left: 253px;
		width: 135px;
}
.active {
background-color:#FF5722;
text-align: center;
border-bottom: 5px solid #607D8B;





}
.active-tab{
font-weight:900;
    font-family: "Times New Roman", Times, serif;
    				font-size:30;

}

.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}
.slider-wrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
}
#sliderInput{
text-align: center;
width:50%;
    background-color: transparent;
    box-sizing: unset;
    border-width: 0px;
    font-size: 25;
    margin:0px
}
.mdl-js-slider{
}
.input{
height:25%;
}
.output{
width:50%;
height:25%;
}

.output-secondary{
height:25%;
width:50%
}

    </style>
    <script language="JavaScript">
        function rangeChanged(){
            console.log(document.getElementById("slider").value);
            var text=document.getElementById("sliderInput")
            text.value=document.getElementById("slider").value + "%";
        }
    </script>

</head>
<body>
<div class="container">
<header>
    <div id="material-tabs">
        <a href="/summarize /home"><div id="tab1-tab" >Home</div></a>
        <a class="active">   <div id="tab2-tab" class="active-tab">I have a Text</div></a>
      <a href="/summarize /image"><div id="tab3-tab" >I have a Image</div></a>
    </div>
</header>

<h1>text Summarizer</h1>



<form role="form" action="" method="post">
      {% csrf_token %}
        {{form.as_p}}

<div>Add your input here
</div>
    <br>


    <textarea name='input' class= "input" rows="30" cols=50>{{inputText}}</textarea>
    <table>
        <tr>
            <td>
                Add your desired summary percentage
            </td>
            <td>
                <input type="text" align="center" name="sliderInput" id="sliderInput" value="50%">
    <div style="width:50%;">

    <input type="range" class = "mdl-slider mdl-js-slider"  tabindex = "0" name="slider"
           id="slider" min="1" max="100" value="50" step="1" oninput="rangeChanged()" onchange="rangeChanged()">

    </div>
            </td>
            <td>
                <button type="submit" class="waves-effect waves-light btn" name="submit"style="margin-left:9%;">Submit</button>

            </td>
        </tr>
    </table>

    <div> Your summary here</div>
    <textarea id='output' class= "output" rows="30" cols=50>{{output}}</textarea>
    <table>
        <tr>
              <td>
                <h1>Keywords</h1>
        <textarea id='keywords' class= "output-secondary" rows="5" cols=10>{{keywords}}</textarea>

            </td>
            <td>
               <h1>Stopwords</h1>
        <textarea id='sentimentscore' class= "output-secondary" rows="5" cols=20>{{sentimentScore}}</textarea>

            </td>
        </tr>
    </table>
         <br>

<br>


</form>

</div>
</body>
</html>